kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraMounts:
      # Mount local cargo target for shared build cache
      - hostPath: ./service/target
        containerPath: /cargo-cache
